body {
  display: grid;
  height: 500px;
  grid-template-columns: auto 1fr auto / auto 1fr auto;
  grid-template-rows: auto 1fr auto / auto 1fr auto;
}
.parent {
    display: grid;
    grid-template-columns: auto 1fr auto / auto 1fr auto;
	grid-template-columns: minmax(150px, 25%) 1fr;
  }
header {
    padding: 1em;
    grid-column: 1 / 4;
	background: #4B0082;
	color: #FFFFFF;
  }
.left-side {
    grid-column: 1 / 2;
	 background: #20B2AA;
  }
main {
    grid-column: 2 / 3;
	 background: #FF7F50;
  }
.right-side {
    grid-column: 3 / 4;
	 background: #7FFFD4;
  }
footer {
    grid-column: 1 / 4;
	background: #DC143C;
 }