body {
	grid-template-columns:  auto 1fr auto;    
    grid-template-rows: auto 1fr auto;
}
#parent {
    display: grid;   
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(150px, 25%) 1fr minmax(150px, 25%);
  }
header {
    padding: 0;
	height: 150px;
    grid-column: 1 / 4;
	background: #000000;
	color: white;
  }
img {
	border-radius: .5em;
	padding: 2px;
}
h1 {
	margin-top: 0px;
	font-size: 65px;
}
.left {
	margin-right: 0px;
    grid-column: 1 / 2;
	background: #FFDAB9;
  }
nav {
	text-align: left;
	font-weight: 300;
	font-size: 20px;
	padding: 30px;
	float: left;
	width: 200px;
	}
nav ul {
	list-style-type: bullet;
		padding-left: 0;
	}
main {
    grid-column: 2 / 3;
	 background: #FF7F50;
	 margin-left: 0px;
	 padding: 5px;
  }
form {
	padding: 1em;
}
label {
	float: left;
	text-align: left;
	width: 90px;
	padding-right: 1em;
}
.foodgroups {
	padding: 1em;
	text-align: left;
	width: 100%;
	padding-right: 150px;
}
.foodgroups td, .foodgroups th {
	border: 1px solid black;
	padding: 0px;
	border-spacing: none;
	border-collapse: collapse;
}
input[type=submit] {
 background-color: grey;
  border: none;
  color: black;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
 p {
	 font-size: 20px;
	 font-family: "Arial", Times New Roman, sans-serif;
 }
.right {
	margin-left: 0px;
	grid-column: 3 / 4;
	background: #DEB887;
  }
}
#footer {
	padding: 1em;
	text-align: center;
    grid-column: 1 / 4;
	background: #000000;
 }